# ----------------------------------
# OS / Editor junk
# ----------------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.log


# ----------------------------------
# Laravel
# ----------------------------------
application/vendor/
application/node_modules/
application/storage/*.key
application/storage/logs/*
application/storage/framework/cache/*
application/storage/framework/sessions/*
application/storage/framework/views/*
application/bootstrap/cache/*
application/public/storage
application/.env
application/.env.example


# ----------------------------------
# Composer
# ----------------------------------
composer.phar

# ----------------------------------
# PHPUnit / Tests
# ----------------------------------
.phpunit.result.cache
coverage/
tests/_output/

# ----------------------------------
# Psalm
# ----------------------------------
.psalm-cache/
.psalm/
psalm-report.json

# ----------------------------------
# Docker
# ----------------------------------
docker-compose.override.yml
**/.dockerignore

# ----------------------------------
# Kubernetes / Helm
# ----------------------------------
*.tgz
charts/**/charts/

# ----------------------------------
# Terraform
# ----------------------------------
terraform/.terraform/
terraform/root/*.tfstate
terraform/root/tfplan
terraform/root/*.tfstate.*
terraform/.crash.log
**/*.pem
**/*.pub

# ----------------------------------
# GitHub Actions artifacts
# ----------------------------------
*.sarif

# ----------------------------------
# Windows
# ----------------------------------
Desktop.ini
terraform/root/.terraform/
*.exe
