{{- if .Values.awsSecretsManager.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ .Values.awsSecretsManager.secretProviderClassName }}
  namespace: development
spec:
  provider: aws
  parameters:
  region: eu-wast-2
    objects: |
      - objectName: "{{ .Values.awsSecretsManager.secretArn }}"
        objectType: "secretsmanager"
        jmesPath:
          - path: username
            objectAlias: DB_USERNAME
          - path: password
            objectAlias: DB_PASSWORD
          - path: host
            objectAlias: DB_HOST
          - path: dbname
            objectAlias: DB_DATABASE


  # OPTIONAL but recommended for Laravel
  secretObjects:
    - secretName: {{ .Values.awsSecretsManager.k8sSecretName }}
      type: Opaque
      data:
        - objectName: DB_USERNAME
          key: DB_USERNAME
        - objectName: DB_PASSWORD
          key: DB_PASSWORD
        - objectName: DB_HOST
          key: DB_HOST
        - objectName: DB_DATABASE
          key: DB_DATABASE
{{- end }}
